flows.json
[{"id":"87acc912.410748","type":"tab","label":"Fluxo Medidor","disabled":false,"info":""},{"id":"1fba2ca5.347a63","type":"mqtt in","z":"87acc912.410748","name":"Pulso","topic":"medidor/pulso","qos":"2","datatype":"auto","broker":"60c9b542.f8b19c","x":90,"y":120,"wires":[["f916ef79.c74e9"]]},{"id":"68940f56.344fd","type":"function","z":"87acc912.410748","name":"MySQL Insert ","func":"pulso = msg.payload.pulso;\nmsg.topic = \"INSERT INTO meter_data ( pulso ) VALUES ( '\"+pulso+\"' );\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["2d62f01f.7404f","ad94bceb.ae1cb"]]},{"id":"2d62f01f.7404f","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":600,"y":180,"wires":[["26144da0.0f89e2"]]},{"id":"f916ef79.c74e9","type":"change","z":"87acc912.410748","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.pulso","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["68940f56.344fd"]]},{"id":"33dc9901.dfbc96","type":"comment","z":"87acc912.410748","name":"Gravação dos pulsos no BD","info":"","x":160,"y":40,"wires":[]},{"id":"23dc1f30.4bea2","type":"comment","z":"87acc912.410748","name":"Visão do Consumo Realizado","info":"","x":140,"y":260,"wires":[]},{"id":"f4baabc9.7f9128","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":500,"y":400,"wires":[["9a92bb11.d99408"]]},{"id":"b16916cc.6e2a28","type":"inject","z":"87acc912.410748","name":"Teste Select","topic":"SELECT * FROM meter_data ORDER BY ID","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":340,"wires":[["f4baabc9.7f9128"]]},{"id":"9a92bb11.d99408","type":"function","z":"87acc912.410748","name":"Formata Gráficos","func":"var m = {},\n    vt1,            //Data Atual\n    vt2,            //Data anterior\n    vpulso = 0,     //Soma do Pulso do período\n    vserie = 0,     //Série\n    vlast = 0,      //Controle do Loop\n    mtemp = {};     //Dados temporários do Gráfico\n\n// Inicializa Vetores\n        m.labels = [];\n        m.series = [];\n        m.data = [];\n        mtemp.data = [];\n\n//    x = msg.payload.length;                 //Quantidade de objetos\n//    y = String(msg.payload[0].timestamp);   //Converte Timestamp para String\n//    z = y.substring(4,15);                  //Obtêm somente a data\n//    w = msg.payload[0].pulso;               //Obtêm o pulso\n//    m.data = [x,y,z,w];                     //Retorna o payload\n\nvlast = msg.payload.length - 1;           //Identifica última volta do loop\n\nfor (i = 0; i < msg.payload.length; i++){   //Percorre as linhas\n\n    vt1 = String(msg.payload[i].timestamp).substring(4,15); //Inicializa a Data atual\n\n    if(i === 0){                                //Se 1a volta, soma o pulso\n        vpulso = vpulso + msg.payload[i].pulso;\n    } \n    else if (vt1 == vt2){                   //Data igual o anterior, soma o pulso\n        vpulso = vpulso + msg.payload[i].pulso;\n    } \n    else if ((vt1 != vt2) && (i !== 0)){    //Data diferente, preenche Gráfico\n        m.labels.push(vt2);                 //Rótulo Eixo X\n//        m.series.push(vt2);                 //Série\n        vpulso = vpulso / 1000;               //Converte em KWH\n        mtemp.data.push(vpulso);                //Somatório dos Pulsos\n        vpulso = 0;                         //inicializa pulso        \n        vserie++;                           //Incrementa a série\n    }\n    \n    if ((i === vlast) && (vt1 == vt2)){     //Último registro, preenche gráfico\n        m.labels.push(vt1);                 //Rótulo Eixo X\n//        m.series.push(vt1);                 //Série\n        vpulso = vpulso / 1000;               //Converte em KWH\n        mtemp.data.push(vpulso);                //Somatório dos Pulsos\n        vpulso = 0;                         //inicializa pulso        \n    }\n\n    vt2 = String(msg.payload[i].timestamp).substring(4,15); //Inicializa a Data atual\n\n}\n\nm.data.push(mtemp.data);\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["59c1492.86711b8","ced5e564.93e1b8","20a29a3.6b30266","92d68da2.a223d"]]},{"id":"59c1492.86711b8","type":"ui_chart","z":"87acc912.410748","name":"Barras","group":"3616c28a.29fd0e","order":1,"width":"0","height":"0","label":"KWH x Dia","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":400,"wires":[[]]},{"id":"ced5e564.93e1b8","type":"ui_chart","z":"87acc912.410748","name":"Gráfico","group":"3616c28a.29fd0e","order":3,"width":0,"height":0,"label":"KWH x Dia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":460,"wires":[[]]},{"id":"20a29a3.6b30266","type":"ui_chart","z":"87acc912.410748","name":"Pizza","group":"1beb5d2a.17a353","order":2,"width":0,"height":0,"label":"KWH x Dia","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":520,"wires":[[]]},{"id":"7405e16b.d7dae","type":"ui_date_picker","z":"87acc912.410748","name":"","label":"Data-de:","group":"188d7438.2f948c","order":2,"width":0,"height":0,"passthru":true,"topic":"datade","x":80,"y":500,"wires":[["bb9456cd.83a368"]]},{"id":"bb9456cd.83a368","type":"function","z":"87acc912.410748","name":"Formata Data ","func":"// A data vem no formato EPOCH, logo para ir ao banco de dados é necessário tratar a data\n\nvar d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\n\n//Para os dias de 1 a 9, acrescenta um 0 na frete\nif(day<10){\n    day=\"0\"+day;\n}\n\n//Para os meses de 1 a 9, acrescenta um 0 na frete\nif(monthformat<10){\n    monthformat=\"0\"+monthformat;\n}\n\nvar year = d.getFullYear();\nmsg.payload = year +\"-\"+ monthformat +\"-\"+ day;\n\n//Armazeno as datas no contexto do fluxo para utilizar depois\nif(msg.topic == \"datade\"){\n    var datade;\n    flow.set(\"datade\", msg.payload);\n}\nelse if(msg.topic == \"dataate\"){\n    var dataate;\n    flow.set(\"dataate\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":520,"wires":[[]]},{"id":"12486b0.e8de295","type":"ui_date_picker","z":"87acc912.410748","name":"","label":"Data-até:","group":"188d7438.2f948c","order":3,"width":0,"height":0,"passthru":true,"topic":"dataate","x":80,"y":540,"wires":[["bb9456cd.83a368"]]},{"id":"ec28e259.1ee9c","type":"ui_button","z":"87acc912.410748","name":"","group":"188d7438.2f948c","order":4,"width":"0","height":"0","passthru":false,"label":"Atualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":340,"wires":[["fb06ed96.58f5","1916a185.dbc18e"]]},{"id":"66fb387f.516c28","type":"comment","z":"87acc912.410748","name":"Filtro baseado nas datas (De -Até)","info":"","x":160,"y":300,"wires":[]},{"id":"fb06ed96.58f5","type":"function","z":"87acc912.410748","name":"Lê as datas","func":"var datade = flow.get('datade') || 0;\nvar dataate = flow.get('dataate') || 0;\nreturn {payload:[datade,dataate]};","outputs":1,"noerr":0,"x":250,"y":340,"wires":[[]]},{"id":"1916a185.dbc18e","type":"function","z":"87acc912.410748","name":"MySQL Select","func":"// Obtêm os valores da memória\nvar datade = flow.get('datade') || 0;\nvar dataate = flow.get('dataate') || 0;\nvar query;\n\n// Formata padrão Timestamp do banco de dados\ndatade = '\"' + datade + ' ' + '00:00:00\"';\ndataate = '\"' + dataate + ' ' + '23:59:59\"';\n\nquery = 'SELECT * FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + datade + ' AND ';\nquery = query + dataate;\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["f4baabc9.7f9128"]]},{"id":"ec340c2a.61941","type":"function","z":"87acc912.410748","name":"Calcula valor","func":"/*\nConverte os valores em número e efetua o cálculo\n*/\n\nmsg.payload.totTliquido = Number(msg.payload.KWH)*(Number(msg.payload.TUSD) + Number(msg.payload.TE));\nmsg.payload.totAliqImp = 1 - (Number(msg.payload.ICMS) + Number(msg.payload.PIS) + Number(msg.payload.COFINS));\nmsg.payload.valTotal = msg.payload.totTliquido / msg.payload.totAliqImp;\nmsg.payload.valFinal = msg.payload.valTotal + Number(msg.payload.COSIP);\n//var valFinal = msg.payload.valTotal + Number(msg.payload.COSIP);\n//msg.payload.valFinal = valFinal.toString();\n//return msg;\nmsg.payload.valFinal = +msg.payload.valFinal.toFixed(2);\n\n\nvar newMsg = { payload: msg.payload.valFinal };\nreturn newMsg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["da2c017e.f3e71","6156e83c.31b928"]]},{"id":"8d4f33fb.c1b77","type":"ui_form","z":"87acc912.410748","name":"Parâmetros Campos","label":"","group":"efc39ae3.607538","order":2,"width":0,"height":0,"options":[{"label":"TUSD","value":"TUSD","type":"text","required":true,"rows":null},{"label":"TE","value":"TE","type":"text","required":true,"rows":null},{"label":"%ICMS","value":"ICMS","type":"text","required":true,"rows":null},{"label":"%PIS","value":"PIS","type":"text","required":true,"rows":null},{"label":"%COFINS","value":"COFINS","type":"text","required":true,"rows":null},{"label":"COSIP","value":"COSIP","type":"text","required":true,"rows":null},{"label":"KWh","value":"KWH","type":"text","required":true,"rows":null}],"formValue":{"TUSD":"","TE":"","ICMS":"","PIS":"","COFINS":"","COSIP":"","KWH":""},"payload":"","submit":"Calcular","cancel":"","topic":"","x":300,"y":760,"wires":[["ec340c2a.61941"]]},{"id":"da2c017e.f3e71","type":"debug","z":"87acc912.410748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":920,"wires":[]},{"id":"75cbc9be.653838","type":"comment","z":"87acc912.410748","name":"Cálculo Manual da Conta de Energia","info":"","x":180,"y":640,"wires":[]},{"id":"ee75ba5e.c26778","type":"ui_text","z":"87acc912.410748","group":"188d7438.2f948c","order":1,"width":0,"height":0,"name":"","label":"Selecionar datas:","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":460,"wires":[]},{"id":"6156e83c.31b928","type":"ui_text","z":"87acc912.410748","group":"ff0fe7b0.5753e8","order":3,"width":0,"height":0,"name":"","label":"Valor Total (R$)","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":880,"wires":[]},{"id":"997177fc.9308b8","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":860,"wires":[["6156e83c.31b928"]]},{"id":"cfe8bd0c.ea3c","type":"ui_dropdown","z":"87acc912.410748","name":"","label":"Bandeira Tarifária","tooltip":"","place":"Bandeira Tarifária","group":"ff0fe7b0.5753e8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Verde","value":"0","type":"str"},{"label":"Amarela","value":"0,01343","type":"str"},{"label":"Vermelha P1","value":"0,04169","type":"str"},{"label":"Vermelha P2","value":"0,06243","type":"str"}],"payload":"","topic":"","x":550,"y":760,"wires":[[]]},{"id":"d8d1a25e.3b424","type":"ui_text","z":"87acc912.410748","group":"ff0fe7b0.5753e8","order":2,"width":0,"height":0,"name":"","label":"Tarifa B1 - Classe Residencial","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":820,"wires":[]},{"id":"d9102e4b.ef804","type":"ui_text","z":"87acc912.410748","group":"efc39ae3.607538","order":1,"width":0,"height":0,"name":"","label":"Parâmetros","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":700,"wires":[]},{"id":"9a460824.f76148","type":"comment","z":"87acc912.410748","name":"Pulsos das últimas 24 horas","info":"","x":620,"y":20,"wires":[]},{"id":"c1d17029.0069f","type":"comment","z":"87acc912.410748","name":"Cockpit Principal Previsão","info":"","x":130,"y":1020,"wires":[]},{"id":"c6db5585.b501f8","type":"ui_date_picker","z":"87acc912.410748","name":"","label":"Data da última leitura:","group":"bbfed0e2.89bdd","order":2,"width":0,"height":0,"passthru":true,"topic":"datadeprev","x":120,"y":1120,"wires":[["650302ce.425e0c"]]},{"id":"650302ce.425e0c","type":"function","z":"87acc912.410748","name":"Formata Data ","func":"// A data vem no formato EPOCH, logo para ir ao banco de dados é necessário tratar a data\n\nvar d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\n\n//Para os dias de 1 a 9, acrescenta um 0 na frete\nif(day<10){\n    day=\"0\"+day;\n}\n\n//Para os meses de 1 a 9, acrescenta um 0 na frete\nif(monthformat<10){\n    monthformat=\"0\"+monthformat;\n}\n\nvar year = d.getFullYear();\nmsg.payload = year +\"-\"+ monthformat +\"-\"+ day;\n\n//Armazeno as datas no contexto do fluxo para utilizar depois\nif(msg.topic == \"datadeprev\"){\n    var datade;\n    flow.set(\"datadeprev\", msg.payload);\n}\nelse if(msg.topic == \"dataateprev\"){\n    var dataate;\n    flow.set(\"dataateprev\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[[]]},{"id":"71e517a5.083d18","type":"ui_date_picker","z":"87acc912.410748","name":"","label":"Data da próxima leitura:","group":"bbfed0e2.89bdd","order":3,"width":0,"height":0,"passthru":true,"topic":"dataateprev","x":130,"y":1160,"wires":[["650302ce.425e0c"]]},{"id":"f2155dcd.f4703","type":"ui_text","z":"87acc912.410748","group":"bbfed0e2.89bdd","order":1,"width":0,"height":0,"name":"","label":"Selecionar datas:","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":1080,"wires":[]},{"id":"c087ccab.62994","type":"function","z":"87acc912.410748","name":"Lê as datas","func":"var datadeprev = flow.get('datadeprev') || 0;\nvar dataateprev = flow.get('dataateprev') || 0;\nreturn {payload:[datadeprev,dataateprev]};","outputs":1,"noerr":0,"x":250,"y":1200,"wires":[["292d6942.c1f926","b9498fc8.d343d"]]},{"id":"292d6942.c1f926","type":"function","z":"87acc912.410748","name":"MySQL Select SUM","func":"/*\n    Essa função monta a query considerando data de início informado na tela e a data fim, considerando\n    o dia e a hora atual para montar o timestamp. \n    Uma melhoria futura seria permitir informar a hora de início da medição para maior acurácia.\n*/\n// Obtêm Data inicial\nvar datade = flow.get('datadeprev') || 0;\nvar dataate;\nvar query;\n\n// Formata padrão Timestamp do banco de dados\ndatade = '\"' + datade + ' ' + '00:00:00\"';\n\nvar data = new Date();\nvar dia = data.getDate();           \nvar mes = data.getMonth();          \nmes = mes + 1;  // Os meses são de 0 a 11, portanto sempre somar 1 para ficar o formato correto\nvar ano = data.getFullYear();\nvar hora = data.getHours();\nvar min = data.getMinutes();\nvar seg = data.getSeconds();\n\n\n//Para os dias de 1 a 9, acrescenta um 0 na frete\nif(dia<10){\n    dia=\"0\"+dia;\n}\n\n//Para os meses de 1 a 9, acrescenta um 0 na frete\nif(mes<10){\n    mes=\"0\"+mes;\n}\n\n//Formata Timestamp \"até\" com data e hora atual\nstrdata = ano + '-' + mes + '-' + dia;\nstrhora = hora + ':' + min + ':' + seg;\ndataate = '\"' + strdata + ' ' + strhora + '\"';\n\n//query = 'SELECT * FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = 'SELECT SUM(pulso) FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + datade + ' AND ';\nquery = query + dataate;\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1200,"wires":[["17f39338.8d820d"]]},{"id":"17f39338.8d820d","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":700,"y":1200,"wires":[["8af2fa48.773a58","d8526e0f.37ee7"]]},{"id":"8af2fa48.773a58","type":"function","z":"87acc912.410748","name":"Calcula Previsão WH","func":"/*\n    Esta função é responsável em obter as datas informadas na tela e também o total de pulsos \n    obtidos até o momento. Com base nessas informações calculamos a estimativa de consumo com\n    regra de 3 simples.\n     - MSG.PAYLOAD -> vem com o total de pulsos até o momento\n     - datadeprev -> A Data da última leitura é a variável obtida da memória\n     - dataateprev -> A Data da próxima leitura é a variável obtida da memória\n     - \n*/\n\n// Obter as datas 'de até' da tela\nvar datadeprev = flow.get('datadeprev') || 0;\nvar dataateprev = flow.get('dataateprev') || 0;\n\n// Obter a data e hora atual\nvar data = new Date();\nvar dia = data.getDate();           \nvar mes = data.getMonth();          \nmes = mes + 1;  // Os meses são de 0 a 11, portanto sempre somar 1 para ficar o formato correto\nvar ano = data.getFullYear();\n\n//Para os dias de 1 a 9, acrescenta um 0 na frete\nif(dia<10){\n    dia=\"0\"+dia;\n}\n//Para os meses de 1 a 9, acrescenta um 0 na frete\nif(mes<10){\n    mes=\"0\"+mes;\n}\nvar dataatual = ano + '-' + mes + '-' + dia;\n\n// Necessário converter as variáveis de String para Data\nvar ndatadeprev = Date.parse(datadeprev);\nvar ndataateprev = Date.parse(dataateprev);\nvar ndataatual = Date.parse(dataatual);\nvar diasfim = (ndataateprev - ndataatual) / (1000 * 60 * 60 * 24);      //Subtrai e converte em dias valores em milisegundos\nvar diasini = ((ndataatual - ndatadeprev) / (1000 * 60 * 60 * 24))+1 ;  //Subtrai e converte em dias valores em milisegundos\n\nvar pulso = msg.payload[0][\"SUM(pulso)\"];   //Recupera total de pulsos\nvar kwhprevtemp = ( pulso * diasfim ) / diasini;\n\n//var kwhprev = kwhprevtemp.toFixed(2);\nvar kwhprev = kwhprevtemp;\n\n//Salva valor em WH\nflow.set(\"kwhprev\", kwhprev);\n\n//Exibe em KwH, divide-se por 1000\nkwhprev = kwhprev / 1000;\n\nkwhprev = kwhprev.toFixed(2);\n\nmsg.payload = kwhprev;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1200,"wires":[["c20f5325.87ef1"]]},{"id":"9f3e1358.2de12","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":1260,"wires":[["c20f5325.87ef1"]]},{"id":"bd127ec3.5cc2d","type":"function","z":"87acc912.410748","name":"Formata Gráficos - Realizado","func":"var m = {},\n    vt1,            //Data Atual\n    vt2,            //Data anterior\n    vpulso = 0,     //Soma do Pulso do período\n    vserie = 0,     //Série\n    vlast = 0,      //Controle do Loop\n    mtemp = {};     //Dados temporários do Gráfico\n\n// Inicializa Vetores\n        m.labels = [];\n        m.series = [];\n        m.data = [];\n        mtemp.data = [];\n\n\nvlast = msg.payload.length - 1;           //Identifica última volta do loop\n\nvar dia, mes, ano;\n\nfor (i = 0; i < msg.payload.length; i++){   //Percorre as linhas\n\n//    vt1 = String(msg.payload[i].timestamp).substring(4,15); //Inicializa a Data atual\n// Tratamento das datas\n    dia = msg.payload[i].timestamp.getDate();\t\t//Obtêm dia\n    mes = msg.payload[i].timestamp.getMonth() + 1;\t//Obtêm mês\n    ano = msg.payload[i].timestamp.getFullYear();\t//Obtêm ano\n    if(dia<10){dia=\"0\"+dia;}\t\t\t            //acrescenta 0 quando somente 1 dígito\n    if(mes<10){mes=\"0\"+mes;}\t\t\t            //acrescenta 0 quando somente 1 dígito\n    vt1 = dia + '-' + mes + '-' + ano;\n\n    if(i === 0){                                //Se 1a volta, soma o pulso\n        vpulso = vpulso + msg.payload[i].pulso;\n    } \n    else if (vt1 == vt2){                   //Data igual o anterior, soma o pulso\n        vpulso = vpulso + msg.payload[i].pulso;\n    } \n    else if ((vt1 != vt2) && (i !== 0)){    //Data diferente, preenche Gráfico\n        m.labels.push(vt2);                 //Rótulo Eixo X\n//        m.series.push(vt2);                 //Série\n        vpulso = vpulso / 1000;             //Converte em KWH\n        mtemp.data.push(vpulso);            //Somatório dos Pulsos\n        vpulso = 0;                         //inicializa pulso        \n        vserie++;                           //Incrementa a série\n    }\n    \n    if ((i === vlast) && (vt1 == vt2)){     //Último registro, preenche gráfico\n        m.labels.push(vt1);                 //Rótulo Eixo X\n//        m.series.push(vt1);                 //Série\n        vpulso = vpulso / 1000;             //Converte em KWH\n        mtemp.data.push(vpulso);            //Somatório dos Pulsos\n        vpulso = 0;                         //inicializa pulso        \n    }\n\n//    vt2 = String(msg.payload[i].timestamp).substring(4,15); //Inicializa a Data atual\n// Tratamento das datas\n    dia = msg.payload[i].timestamp.getDate();\t\t//Obtêm dia\n    mes = msg.payload[i].timestamp.getMonth() + 1;\t//Obtêm mês\n    ano = msg.payload[i].timestamp.getFullYear();\t//Obtêm ano\n    if(dia<10){dia=\"0\"+dia;}\t\t\t//acrescenta 0 quando somente 1 dígito\n    if(mes<10){mes=\"0\"+mes;}\t\t\t//acrescenta 0 quando somente 1 dígito\n    vt2 = dia + '-' + mes + '-' + ano;\n\n}\n\nm.data.push(mtemp.data);\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":980,"y":1340,"wires":[["cdc0985d.9c0f58","b092b180.d04bd","8ec41fe7.9d4d5","1417db28.9da2c5","aeb6aa3e.327cc8"]]},{"id":"cdc0985d.9c0f58","type":"ui_chart","z":"87acc912.410748","name":"Barras","group":"e10c2d65.40e53","order":2,"width":"0","height":"0","label":"KWH x Dia","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1340,"wires":[[]]},{"id":"b092b180.d04bd","type":"ui_chart","z":"87acc912.410748","name":"Gráfico","group":"e10c2d65.40e53","order":1,"width":0,"height":0,"label":"KWH x Dia","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":1380,"wires":[[]]},{"id":"8ec41fe7.9d4d5","type":"ui_chart","z":"87acc912.410748","name":"Pizza","group":"e10c2d65.40e53","order":3,"width":0,"height":0,"label":"KWH x Dia","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1420,"wires":[[]]},{"id":"b9498fc8.d343d","type":"function","z":"87acc912.410748","name":"MySQL Select","func":"// Obtêm os valores da memória\nvar datade = flow.get('datadeprev') || 0;\nvar dataate = flow.get('dataateprev') || 0;\nvar query;\n\n// Formata padrão Timestamp do banco de dados\ndatade = '\"' + datade + ' ' + '00:00:00\"';\ndataate = '\"' + dataate + ' ' + '23:59:59\"';\n\nquery = 'SELECT * FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + datade + ' AND ';\nquery = query + dataate;\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1340,"wires":[["f52fcf14.9070e"]]},{"id":"f52fcf14.9070e","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":700,"y":1340,"wires":[["bd127ec3.5cc2d"]]},{"id":"1417db28.9da2c5","type":"function","z":"87acc912.410748","name":"Formata Gráficos - Previsão","func":"/*\n    Essa função recebe os valores prontos para serem exibidos considerando a medição\n    já existente, ou seja, o consumo já realizado. Como é necessário acrescentarmos os dias\n    com a previsão de consumo, devemos adicionar os dados de previsão nos parâmetros dos\n    gráficos.\n*/\n\nvar m = msg.payload[0]; //Declaro já recebendo o payload dos gráficos passado\nvar mtemp = {};\nmtemp.data = [];\n\n// Obter as datas 'de até' da tela\nvar datadeprev = flow.get('datadeprev') || 0;\nvar dataateprev = flow.get('dataateprev') || 0;\n\n// Obter a data e hora atual\nvar data = new Date();\nvar dia = data.getDate();           \nvar mes = data.getMonth();          \nmes = mes + 1;  // Os meses são de 0 a 11, portanto sempre somar 1 para ficar o formato correto\nvar ano = data.getFullYear();\n\n//Para os dias de 1 a 9, acrescenta um 0 na frete\nif(dia<10){\n    dia=\"0\"+dia;\n}\n//Para os meses de 1 a 9, acrescenta um 0 na frete\nif(mes<10){\n    mes=\"0\"+mes;\n}\nvar dataatual = ano + '-' + mes + '-' + dia;\n\n// Necessário converter as variáveis de String para Data\nvar ndatadeprev = new Date(datadeprev);\nvar ndataateprev = new Date(dataateprev);\nvar ndataatual = new Date(dataatual);\n\nvar diasfim = ndataateprev - ndataatual;  //Quantidade de dias pendente medição\nvar diasini = ndataatual - ndatadeprev;   //Quantiade de dias já corridos e medidos\n\n// A diferença de dias está em milisegundo, dessa forma converto em dias para poder\n// fazer o loop posteriormente. Considerando que 1 dia é igual a 86400000 milisegundos\nvar ndias = diasfim / 86400000; \n\n// Obter o KWh total previsto\nvar kwhprev = flow.get('kwhprev') || 0;\nkwhprev = kwhprev / 1000;   //Converte para KWH\n\n// Divido o KWh total pelos dias\nvar kwhdiatemp = kwhprev / ndias;\nvar kwhdia = kwhdiatemp.toFixed(2);\n\n\nvar datatemp = new Date();  // Para formatar data no label do gráfico\nvar datacalc = new Date();  // Para somar data prevista\nvar diap, mesp, anop;\n\n// Preencher os dados para o gráfico\nfor (i = 1; i < ndias+1; i++){\n\n    datacalc.setDate(data.getDate() + i);\n\n// Tratamento das datas\n    diap = datacalc.getDate();\t\t//Obtêm dia\n    mesp = datacalc.getMonth() + 1;\t//Obtêm mês\n    anop = datacalc.getFullYear();\t//Obtêm ano\n    if(diap<10){diap=\"0\"+diap;}\t\t\t//acrescenta 0 quando somente 1 dígito\n    if(mesp<10){mesp=\"0\"+mesp;}\t\t\t//acrescenta 0 quando somente 1 dígito\n    datatemp = diap + '-' + mesp + '-' + anop;\n//    datatemp = String(datacalc).substring(4,15);\n\n    m.labels.push(datatemp);                    //Rótulo Eixo X\n//    m.series.push(datatemp);                    //Série        \n    m.data[0].push(kwhdia);                     //Somatório dos Pulsos Eixo Y\n}\n\nreturn {payload:[m]};\n//return {payload:[datatemp, datacalc]};","outputs":1,"noerr":0,"x":1280,"y":1520,"wires":[["5ba1398f.de53a8","aafed206.cc97e","46d4fb6f.cffbc4","65c54ce3.718314"]]},{"id":"5ba1398f.de53a8","type":"ui_chart","z":"87acc912.410748","name":"Barras","group":"bd019d37.dabf2","order":2,"width":"0","height":"0","label":"KWH x Dia","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":1520,"wires":[[]]},{"id":"aafed206.cc97e","type":"ui_chart","z":"87acc912.410748","name":"Gráfico","group":"bd019d37.dabf2","order":1,"width":0,"height":0,"label":"KHW x Dia","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1500,"y":1560,"wires":[[]]},{"id":"46d4fb6f.cffbc4","type":"ui_chart","z":"87acc912.410748","name":"Pizza","group":"bd019d37.dabf2","order":3,"width":0,"height":0,"label":"KWH x Dia","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":1600,"wires":[[]]},{"id":"aeb6aa3e.327cc8","type":"ui_chart","z":"87acc912.410748","d":true,"name":"Radar","group":"e10c2d65.40e53","order":4,"width":0,"height":0,"label":"KWH x Dia","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1460,"wires":[[]]},{"id":"65c54ce3.718314","type":"ui_chart","z":"87acc912.410748","d":true,"name":"Radar","group":"bd019d37.dabf2","order":4,"width":0,"height":0,"label":"KWH x Dia","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":1640,"wires":[[]]},{"id":"486fe0b7.c57e8","type":"ui_text","z":"87acc912.410748","group":"bbfed0e2.89bdd","order":4,"width":0,"height":0,"name":"","label":"Parâmetros Conta","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":1660,"wires":[],"icon":"font-awesome/fa-server"},{"id":"dd371435.321aa8","type":"ui_dropdown","z":"87acc912.410748","name":"","label":"Bandeira Tarifária","tooltip":"","place":"Bandeira Tarifária","group":"5aec6f5e.34b97","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Verde","value":"0","type":"str"},{"label":"Amarela","value":"0,01343","type":"str"},{"label":"Vermelha P1","value":"0,04169","type":"str"},{"label":"Vermelha P2","value":"0,06243","type":"str"}],"payload":"","topic":"","x":110,"y":1700,"wires":[[]]},{"id":"c40653b.96c26b","type":"ui_text","z":"87acc912.410748","group":"5aec6f5e.34b97","order":2,"width":0,"height":0,"name":"","label":"Tarifa B1 - Classe Residencial","format":"{{msg.payload}}","layout":"row-spread","x":150,"y":1620,"wires":[]},{"id":"7c50d7c5.a6be28","type":"ui_text_input","z":"87acc912.410748","name":"Total R$ Previsto","label":"Total Previsto (R$)","tooltip":"","group":"96636b98.fa0108","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"valortotalprev","x":970,"y":1520,"wires":[["de2216b0.169398"]]},{"id":"c7b7ced5.52e47","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":930,"y":1460,"wires":[["7c50d7c5.a6be28"]]},{"id":"af9cb497.b71bf8","type":"function","z":"87acc912.410748","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":0,"y":0,"wires":[[]]},{"id":"fa095705.45c4e8","type":"ui_form","z":"87acc912.410748","name":"Parâmetros Campos","label":"","group":"bbfed0e2.89bdd","order":5,"width":0,"height":0,"options":[{"label":"TUSD","value":"TUSD","type":"text","required":true,"rows":null},{"label":"TE","value":"TE","type":"text","required":true,"rows":null},{"label":"%ICMS","value":"ICMS","type":"text","required":true,"rows":null},{"label":"%PIS","value":"PIS","type":"text","required":true,"rows":null},{"label":"%COFINS","value":"COFINS","type":"text","required":true,"rows":null},{"label":"COSIP","value":"COSIP","type":"text","required":true,"rows":null}],"formValue":{"TUSD":"","TE":"","ICMS":"","PIS":"","COFINS":"","COSIP":""},"payload":"","submit":"Calcular","cancel":"","topic":"","x":280,"y":1520,"wires":[["c087ccab.62994","2d81da1f.b99a96"]]},{"id":"efae9d3a.5a71c","type":"function","z":"87acc912.410748","name":"Calcula valor Previsto(R$)","func":"/*\nConverte os valores em número e efetua o cálculo\n*/\n\nvar kwhprev = flow.get(\"kwhprev\") || 0;\n\nif (kwhprev <= 0){\n    msg.payload = \" \";\n    return msg;\n}\n\nkwhprev = kwhprev / 1000;   //Converte em KWH\n\n//msg.payload.totTliquido = Number(msg.payload.KWH)*(Number(msg.payload.TUSD) + Number(msg.payload.TE));\nmsg.payload.totTliquido = Number(kwhprev)*(Number(msg.payload.TUSD) + Number(msg.payload.TE));\nmsg.payload.totAliqImp = 1 - (Number(msg.payload.ICMS) + Number(msg.payload.PIS) + Number(msg.payload.COFINS));\nmsg.payload.valTotal = msg.payload.totTliquido / msg.payload.totAliqImp;\n\nif(msg.payload.valTotal > 0){\n    msg.payload.valFinal = msg.payload.valTotal + Number(msg.payload.COSIP);        \n}\n\nflow.set(\"valortotalprev\", msg.payload.valFinal);\n\nmsg.payload.valFinal = msg.payload.valFinal.toFixed(2);\n\n\nvar newMsg = { payload: msg.payload.valFinal };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":1520,"wires":[["7c50d7c5.a6be28"]]},{"id":"8cb22f66.78f9","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":"{\"TUSD\":\"0.25971\",\"TE\":\"0.25588\",\"ICMS\":\"0.25\",\"PIS\":\"0.0095\",\"COFINS\":\"0.0439\",\"COSIP\":\"9.7\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":1520,"wires":[["fa095705.45c4e8"]]},{"id":"c20f5325.87ef1","type":"ui_text_input","z":"87acc912.410748","name":"Total KWH Previsto","label":"Total KWH Previsto","tooltip":"","group":"96636b98.fa0108","order":2,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"totalkwhprevisto","x":1270,"y":1200,"wires":[[]]},{"id":"d8526e0f.37ee7","type":"function","z":"87acc912.410748","name":"Formata Total WH Consumido","func":"var pulso = msg.payload[0][\"SUM(pulso)\"];   //Recupera total de pulsos\n\n//Salva valor em WH\nflow.set(\"kwhconsumido\", pulso);\n\n//Divide por 1000 para ser por KwH\npulso = pulso / 1000;\n\nmsg.payload = pulso.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[["937482bb.32d4"]]},{"id":"937482bb.32d4","type":"ui_text_input","z":"87acc912.410748","name":"Total KWH Consumido","label":"Total KWH Consumido","tooltip":"","group":"96da1b7a.6ea8a8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"totalkwhconsumido","x":1300,"y":1060,"wires":[[]]},{"id":"730e81dd.c644c","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1000,"wires":[["937482bb.32d4"]]},{"id":"e67b6100.8d23f","type":"function","z":"87acc912.410748","name":"Calcula valor Consumido(R$)","func":"/*\nConverte os valores em número e efetua o cálculo\n*/\nvar kwhconsumido = flow.get('kwhconsumido') || 0;\n\nkwhconsumido = kwhconsumido / 1000; //Converte para KWH\n\nmsg.payload.totTliquido = kwhconsumido*(Number(msg.payload.TUSD) + Number(msg.payload.TE));\nmsg.payload.totAliqImp = 1 - (Number(msg.payload.ICMS) + Number(msg.payload.PIS) + Number(msg.payload.COFINS));\nmsg.payload.valTotal = msg.payload.totTliquido / msg.payload.totAliqImp;\nmsg.payload.valFinal = msg.payload.valTotal + Number(msg.payload.COSIP);\n\nflow.set(\"valortotalcons\", msg.payload.valFinal);\n\nmsg.payload.valFinal = msg.payload.valFinal.toFixed(2);\n\nvar newMsg = { payload: msg.payload.valFinal };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":700,"y":1580,"wires":[["ea4249ef.61f8f8"]]},{"id":"ea4249ef.61f8f8","type":"ui_text_input","z":"87acc912.410748","name":"Total R$ Consumido","label":"Total Consumido (R$)","tooltip":"","group":"96da1b7a.6ea8a8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"valortotalcons","x":980,"y":1580,"wires":[[]]},{"id":"ec819ce6.cc4b8","type":"comment","z":"87acc912.410748","name":"Envia Total WH consumido para memória","info":"","x":960,"y":1020,"wires":[]},{"id":"80b5b984.c124d8","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":930,"y":1640,"wires":[["ea4249ef.61f8f8"]]},{"id":"d20b8d95.9f22e","type":"comment","z":"87acc912.410748","name":"Envia WH Previsto para memória","info":"","x":990,"y":1160,"wires":[]},{"id":"2d81da1f.b99a96","type":"delay","z":"87acc912.410748","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1520,"wires":[["efae9d3a.5a71c","e67b6100.8d23f"]]},{"id":"1c5e7b5c.a84d85","type":"comment","z":"87acc912.410748","name":"Tela de Configuração e Notificação","info":"","x":200,"y":1780,"wires":[]},{"id":"fdff26ff.8049c8","type":"OS","z":"87acc912.410748","name":"","x":210,"y":2900,"wires":[["ba0a9fa6.ee088","a0e870f1.993f5","1e4b21b8.9dab9e","fe6f8681.9aa198"]]},{"id":"ba0a9fa6.ee088","type":"function","z":"87acc912.410748","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":2892.75,"wires":[["bd0bc7f6.3faf28"]]},{"id":"bd0bc7f6.3faf28","type":"ui_text","z":"87acc912.410748","group":"96cc750c.91a0c8","order":4,"width":0,"height":0,"name":"hostname","label":"Nome do computador","format":"{{msg.payload}}","layout":"row-spread","x":565.5,"y":2892.75,"wires":[]},{"id":"657ec8c5.99a7a8","type":"ui_text","z":"87acc912.410748","group":"96cc750c.91a0c8","order":3,"width":0,"height":0,"name":"OS","label":"Sistema Operacional","format":"{{msg.payload}}","layout":"row-spread","x":550.5,"y":2931.5,"wires":[]},{"id":"a0e870f1.993f5","type":"function","z":"87acc912.410748","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":385.5,"y":2939.0000019073486,"wires":[["657ec8c5.99a7a8"]]},{"id":"1e4b21b8.9dab9e","type":"function","z":"87acc912.410748","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":384.25,"y":2987.7500019073486,"wires":[["879712cf.dff49"]]},{"id":"fe6f8681.9aa198","type":"function","z":"87acc912.410748","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":376.75,"y":3030.2500019073486,"wires":[["d797a35d.067ff"]]},{"id":"879712cf.dff49","type":"ui_text","z":"87acc912.410748","group":"96cc750c.91a0c8","order":1,"width":0,"height":0,"name":"platform","label":"Plataforma","format":"{{msg.payload}}","layout":"row-spread","x":559.25,"y":2972.7500019073486,"wires":[]},{"id":"d797a35d.067ff","type":"ui_text","z":"87acc912.410748","group":"96cc750c.91a0c8","order":2,"width":0,"height":0,"name":"arch","label":"Arquitetura","format":"{{msg.payload}}","layout":"row-spread","x":551.75,"y":3016.5000019073486,"wires":[]},{"id":"9324e3f0.25e82","type":"function","z":"87acc912.410748","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3140,"wires":[["9dd29e20.93b34"]]},{"id":"9dd29e20.93b34","type":"ui_gauge","z":"87acc912.410748","d":true,"name":"Memória em uso","group":"aa2fd4fa.cbb568","order":2,"width":0,"height":0,"gtype":"gage","title":"1 Minuto","label":"Utilização","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":3140,"wires":[]},{"id":"e62509d1.c0c178","type":"function","z":"87acc912.410748","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3180,"wires":[["ef99feaf.d9203"]]},{"id":"5e58f64c.005ff8","type":"function","z":"87acc912.410748","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3220,"wires":[["dace179.cdb59e8"]]},{"id":"ef99feaf.d9203","type":"ui_text","z":"87acc912.410748","group":"aa2fd4fa.cbb568","order":3,"width":0,"height":0,"name":"","label":"Memória Total","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":3180,"wires":[]},{"id":"dace179.cdb59e8","type":"ui_text","z":"87acc912.410748","group":"aa2fd4fa.cbb568","order":4,"width":0,"height":0,"name":"","label":"Memória Disponível","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":3220,"wires":[]},{"id":"6695ed09.da7194","type":"function","z":"87acc912.410748","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":3100,"wires":[["95c68bfe.699d88"]]},{"id":"95c68bfe.699d88","type":"ui_chart","z":"87acc912.410748","name":"Memória - 24 Horas","group":"aa2fd4fa.cbb568","order":1,"width":0,"height":0,"label":"24 Horas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":560,"y":3100,"wires":[[]]},{"id":"41dbab45.3c5fc4","type":"Memory","z":"87acc912.410748","name":"","x":220,"y":3100,"wires":[["6695ed09.da7194","9324e3f0.25e82","e62509d1.c0c178","5e58f64c.005ff8"]]},{"id":"530c7ac.ed99f84","type":"ui_text","z":"87acc912.410748","group":"28530e9e.fa9622","order":2,"width":0,"height":0,"name":"Temperatura","label":"Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":3280,"wires":[]},{"id":"2526cf71.35eb1","type":"function","z":"87acc912.410748","name":"Temperatura","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":424.75000762939453,"y":3280.2500009536743,"wires":[["530c7ac.ed99f84"]]},{"id":"f5f2253b.5d1728","type":"function","z":"87acc912.410748","name":"Local","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":406.00000762939453,"y":3316.5000009536743,"wires":[["4db8314c.8415f"]]},{"id":"1da2874b.3da719","type":"function","z":"87acc912.410748","name":"Detalhe","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":419.75000381469727,"y":3362.7500009536743,"wires":[["5c761c19.7c8de4"]]},{"id":"4db8314c.8415f","type":"ui_text","z":"87acc912.410748","group":"28530e9e.fa9622","order":1,"width":0,"height":0,"name":"Local","label":"Local","format":"{{msg.payload}}","layout":"row-spread","x":612.25,"y":3315.249991416931,"wires":[]},{"id":"5c761c19.7c8de4","type":"ui_text","z":"87acc912.410748","group":"28530e9e.fa9622","order":4,"width":0,"height":0,"name":"Detalhe","label":"Detalhe","format":"{{msg.payload}}","layout":"row-spread","x":623.5000076293945,"y":3361.5000009536743,"wires":[]},{"id":"e867abf3.6ab4f8","type":"function","z":"87acc912.410748","name":"Humidade","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":426.00000381469727,"y":3402.750002861023,"wires":[["e0a6a2a9.8df84"]]},{"id":"e0a6a2a9.8df84","type":"ui_text","z":"87acc912.410748","group":"28530e9e.fa9622","order":3,"width":0,"height":0,"name":"Humidade","label":"Umidade do ar","format":"{{msg.payload}}","layout":"row-spread","x":632.2500076293945,"y":3402.7500019073486,"wires":[]},{"id":"baa3e1c3.bc97e","type":"inject","z":"87acc912.410748","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2980,"wires":[["fdff26ff.8049c8","41dbab45.3c5fc4","baef602a.174bd"]]},{"id":"c4f71783.6a3918","type":"inject","z":"87acc912.410748","name":"","topic":"Refresh","payload":"true","payloadType":"bool","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":3300,"wires":[["c0387272.b7195"]]},{"id":"c0387272.b7195","type":"openweathermap","z":"87acc912.410748","name":"","wtype":"current","lon":"","lat":"","city":"Sao Paulo","country":"Brazil","language":"pt","x":200,"y":3400,"wires":[["2526cf71.35eb1","f5f2253b.5d1728","1da2874b.3da719","e867abf3.6ab4f8"]]},{"id":"d5ec38fd.57d268","type":"ui_slider","z":"87acc912.410748","name":"Limite Mês","label":"Limite Mês","tooltip":"","group":"1433caf5.8d6615","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"300","step":1,"x":110,"y":1860,"wires":[["7069093c.fff458"]]},{"id":"7069093c.fff458","type":"function","z":"87acc912.410748","name":"Grava Limite Mensal","func":"flow.set(\"limiteMes\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1860,"wires":[[]]},{"id":"8c32a07b.3715b","type":"ui_slider","z":"87acc912.410748","name":"Limite Semanal","label":"Limite Semanal","tooltip":"","group":"1433caf5.8d6615","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":120,"y":1920,"wires":[["f4fa62a0.4e652"]]},{"id":"dc28e4c1.8e7bb8","type":"ui_slider","z":"87acc912.410748","name":"Limite Diário","label":"Limite Diário","tooltip":"","group":"1433caf5.8d6615","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":110,"y":1980,"wires":[["dfacf879.533b08"]]},{"id":"f4fa62a0.4e652","type":"function","z":"87acc912.410748","name":"Grava Limite Semanal","func":"flow.set(\"limiteSemana\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1920,"wires":[[]]},{"id":"dfacf879.533b08","type":"function","z":"87acc912.410748","name":"Grava Limite Diário","func":"flow.set(\"limiteDiario\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1980,"wires":[[]]},{"id":"9d61c746.4b1118","type":"function","z":"87acc912.410748","name":"MySQL Mês Atual","func":"/*\nQuery com o consumo realizado no mês atual\n*/\n\nvar date = new Date();\nvar atual = date.getDate();     //dia atual \nvar mes = date.getMonth();      //Mes atual\nvar ano = date.getFullYear();   //ano atual\n\nmes = mes + 1;  // Os meses são de 0 a 11, portanto sempre somar 1 para ficar o formato correto\n\nif(mes<10){\n    mes = \"0\" + mes;\n}\n\nif(atual<10){\n    atual = \"0\" + atual;\n}\n//SELECT SUM(PULSO) FROM `meter_data` WHERE timestamp \n//BETWEEN \"2020-05-01 00:00:00\" AND \"2020-05-01 23:59:59\"\n\nquery = 'SELECT SUM(PULSO) FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + '\"' + ano + '-' + mes + '-' + '01' + ' ' + '00:00:00' + '\"';\nquery = query + ' AND ' + '\"' + ano + '-' + mes + '-' + atual + ' ' + '23:59:59'+'\"';\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":2120,"wires":[["1bdca83d.f540e8"]]},{"id":"1bdca83d.f540e8","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":520,"y":2120,"wires":[["9c2d337d.a564e"]]},{"id":"2d10622d.cd176e","type":"function","z":"87acc912.410748","name":"MySQL Semana","func":"/*\nQuery com o consumo realizado na última semana, últimos 7 dias\n*/\n\nvar date = new Date();\nvar dataatual = date.getDate();     //dia atual \nvar mesatual = date.getMonth() + 1; //Mes atual\nvar anoatual = date.getFullYear();  //ano atual\n\nvar datapassada = new Date();\n\ndatapassada.setDate(datapassada.getDate() - 7);\n//datapassada.toLocaleString();\nmespassado = datapassada.getMonth() + 1;\ndiapassado = datapassada.getDate();\nanopassado = datapassada.getFullYear();\n\nif(mesatual<10){\n    mesatual = \"0\" + mesatual;\n}\n\nif(mespassado<10){\n    mespassado = \"0\" + mespassado;\n}\n\nif(diapassado<10){\n    diapassado = \"0\" + diapassado;\n}\n//SELECT SUM(PULSO) FROM `meter_data` WHERE timestamp \n//BETWEEN \"2020-05-01 00:00:00\" AND \"2020-05-01 23:59:59\"\n\nquery = 'SELECT SUM(PULSO) FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + '\"' + anopassado + '-' + mespassado + '-' + diapassado + ' ' + '00:00:00' + '\"';\nquery = query + ' AND ' + '\"' + anoatual + '-' + mesatual + '-' + dataatual + ' ' + '23:59:59'+'\"';\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":2200,"wires":[["710452db.18f07c"]]},{"id":"710452db.18f07c","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":520,"y":2200,"wires":[["39c86583.ca596a"]]},{"id":"108d1527.81b03b","type":"function","z":"87acc912.410748","name":"MySQL Dia","func":"/*\nQuery com o consumo realizado no dia\n*/\n\nvar date = new Date();\nvar diaatual = date.getDate();     //dia atual \nvar mesatual = date.getMonth() + 1; //Mes atual\nvar anoatual = date.getFullYear();  //ano atual\n\nif(mesatual<10){\n    mesatual = \"0\" + mesatual;\n}\n\nif(diaatual<10){\n    diaatual = \"0\" + diaatual;\n}\n\nquery = 'SELECT SUM(PULSO) FROM `meter_data` WHERE timestamp BETWEEN ';\nquery = query + '\"' + anoatual + '-' + mesatual + '-' + diaatual + ' ' + '00:00:00' + '\"';\nquery = query + ' AND ' + '\"' + anoatual + '-' + mesatual + '-' + diaatual + ' ' + '23:59:59'+'\"';\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2280,"wires":[["7b14dba2.ea5184"]]},{"id":"7b14dba2.ea5184","type":"mysql","z":"87acc912.410748","mydb":"a08c90a.46ae27","name":"Tab Leituras Medidor","x":520,"y":2280,"wires":[["48fd8c0b.0c90a4"]]},{"id":"9c2d337d.a564e","type":"function","z":"87acc912.410748","name":"Salva total","func":"var pulsoMes = msg.payload[0][\"SUM(PULSO)\"];\nflow.set(\"mailMes\", pulsoMes);\nmsg.payload = pulsoMes;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2120,"wires":[["135b2a6a.c4a806"]]},{"id":"39c86583.ca596a","type":"function","z":"87acc912.410748","name":"Salva total","func":"var pulsoSemana = msg.payload[0][\"SUM(PULSO)\"];\nflow.set(\"mailSemana\", pulsoSemana);\n//msg.topic = \"mailSemana\";\nmsg.payload = pulsoSemana;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2200,"wires":[["599fb380.d6c78c"]]},{"id":"48fd8c0b.0c90a4","type":"function","z":"87acc912.410748","name":"Salva total","func":"var pulsoDia = msg.payload[0][\"SUM(PULSO)\"];\nflow.set(\"mailDia\", pulsoDia);\n//msg.topic = \"mailDia\";\nmsg.payload = pulsoDia;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2280,"wires":[["80afde4c.57249"]]},{"id":"2aafffd3.81f08","type":"function","z":"87acc912.410748","name":"Formata E-mail","func":"var mailMes  = flow.get('mailMes') || 0;\nmailMes = mailMes / 1000;\nmailMes = mailMes.toFixed(2);\nvar mailSemana  = flow.get('mailSemana') || 0;\nmailSemana = mailSemana / 1000;\nmailSemana = mailSemana.toFixed(2);\nvar mailDia  = flow.get('mailDia') || 0;\nmailDia = mailDia / 1000;\nmailDia = mailDia.toFixed(2);\nvar limiteMes  = flow.get('limiteMes') || 0;\nvar limiteSemana  = flow.get('limiteSemana') || 0;\nvar limiteDia  = flow.get('limiteDia') || 0;\nvar emailPara  = flow.get('emailPara') || 0;\nmsg.topic = \" \";\n\nvar corpomail = \"Consumo do Mês: \" + mailMes + \" \" +  \n                \"Limite do Mês: \" + limiteMes + \" \" + \n                \"Consumo da Semana: \" + mailSemana + \" \" + \n                \"Limite da Semana: \" + limiteSemana + \" \" + \n                \"Consumo do Dia: \" + mailDia + \" \" + \n                \"Limite do Dia: \" + limiteDia;\n\nnode.send({\n    topic: \"Node-RED: Notificação de Consumo\",\n    to: emailPara,\n    payload: corpomail });\n\n\nmsg.payload = emailPara;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":2200,"wires":[["bbea2e62.e2c72"]]},{"id":"31212693.c3dc6a","type":"ui_text_input","z":"87acc912.410748","name":"email para","label":"E-mail para:","tooltip":"","group":"36ddb2a0.b53b2e","order":5,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"emailpara","x":110,"y":2040,"wires":[["add55bba.8c4d28"]]},{"id":"add55bba.8c4d28","type":"function","z":"87acc912.410748","name":"Grava Email informado","func":"flow.set(\"emailPara\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2040,"wires":[[]]},{"id":"92d68da2.a223d","type":"ui_chart","z":"87acc912.410748","d":true,"name":"Radar","group":"1beb5d2a.17a353","order":3,"width":0,"height":0,"label":"KWH x Dia","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":560,"wires":[[]]},{"id":"cfd133a7.96226","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":"{\"TUSD\":\"0.25971\",\"TE\":\"0.25588\",\"ICMS\":\"0.25\",\"PIS\":\"0.0095\",\"COFINS\":\"0.0439\",\"COSIP\":\"9.7\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":108.33332824707031,"y":758.3333129882812,"wires":[["8d4f33fb.c1b77"]]},{"id":"5e30ec3a.cf6b94","type":"ui_text","z":"87acc912.410748","group":"1433caf5.8d6615","order":1,"width":0,"height":0,"name":"","label":"Informar os limites:","format":"{{msg.payload}}","layout":"row-spread","x":556.6666259765625,"y":1861.6666259765625,"wires":[]},{"id":"baef602a.174bd","type":"cpu","z":"87acc912.410748","name":"","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":260,"y":2820,"wires":[["3ca80b9e.4a9184"]]},{"id":"3ca80b9e.4a9184","type":"ui_chart","z":"87acc912.410748","name":"","group":"c28a75e0.a2e7c8","order":0,"width":0,"height":0,"label":"24 Horas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":2820,"wires":[[]]},{"id":"bbea2e62.e2c72","type":"e-mail","z":"87acc912.410748","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1290,"y":2200,"wires":[]},{"id":"f1061961.a359c8","type":"ui_button","z":"87acc912.410748","name":"","group":"36ddb2a0.b53b2e","order":5,"width":0,"height":0,"passthru":false,"label":"Enviar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":2120,"wires":[["9d61c746.4b1118"]]},{"id":"135b2a6a.c4a806","type":"delay","z":"87acc912.410748","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":2200,"wires":[["2d10622d.cd176e"]]},{"id":"599fb380.d6c78c","type":"delay","z":"87acc912.410748","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":2280,"wires":[["108d1527.81b03b"]]},{"id":"80afde4c.57249","type":"delay","z":"87acc912.410748","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":2200,"wires":[["2aafffd3.81f08"]]},{"id":"7611f499.b25f9c","type":"ui_text","z":"87acc912.410748","group":"40129da0.ec6ee4","order":1,"width":0,"height":0,"name":"","label":"Baseado no consumo realizado","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":1660,"wires":[]},{"id":"a3fc9e16.ed52","type":"ui_text_input","z":"87acc912.410748","name":"","label":"Valor Total Final (R$)","tooltip":"","group":"40129da0.ec6ee4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1220,"y":1640,"wires":[[]]},{"id":"de2216b0.169398","type":"function","z":"87acc912.410748","name":"Soma Estim. e Previsto","func":"var valortotalprev = flow.get('valortotalprev') || 0;\nvar valortotalcons = flow.get('valortotalcons') || 0;\n\ntotal = Number(valortotalprev) + Number(valortotalcons);\ntotal = total.toFixed(2);\n\nreturn {payload:[total]};\n","outputs":1,"noerr":0,"x":1230,"y":1580,"wires":[["a3fc9e16.ed52"]]},{"id":"bfbbc584.dd8de8","type":"inject","z":"87acc912.410748","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1030,"y":1720,"wires":[["a3fc9e16.ed52"]]},{"id":"ad94bceb.ae1cb","type":"debug","z":"87acc912.410748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":120,"wires":[]},{"id":"26144da0.0f89e2","type":"debug","z":"87acc912.410748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":240,"wires":[]},{"id":"60c9b542.f8b19c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a08c90a.46ae27","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"TAB_LEITURAS_MEDIDOR","tz":""},{"id":"3616c28a.29fd0e","type":"ui_group","z":"","name":"Consumo Realizado 1","tab":"71590887.8eedb8","order":2,"disp":false,"width":"6","collapse":false},{"id":"1beb5d2a.17a353","type":"ui_group","z":"","name":"Consumo Realizado 2","tab":"71590887.8eedb8","order":3,"disp":false,"width":"6","collapse":false},{"id":"188d7438.2f948c","type":"ui_group","z":"","name":"Parâmetros","tab":"71590887.8eedb8","order":1,"disp":false,"width":"6","collapse":false},{"id":"efc39ae3.607538","type":"ui_group","z":"","name":"Parâmetros Tab","tab":"9a9bd808.12da08","disp":false,"width":"6","collapse":false},{"id":"ff0fe7b0.5753e8","type":"ui_group","z":"","name":"Valor Total","tab":"9a9bd808.12da08","order":2,"disp":false,"width":"6","collapse":false},{"id":"bbfed0e2.89bdd","type":"ui_group","z":"","name":"Filtros Data Tab","tab":"7b16a860.b86058","order":1,"disp":false,"width":"6","collapse":false},{"id":"e10c2d65.40e53","type":"ui_group","z":"","name":"Consumo Realizado","tab":"7b16a860.b86058","order":6,"disp":true,"width":"6","collapse":false},{"id":"bd019d37.dabf2","type":"ui_group","z":"","name":"Consumo Previsto","tab":"7b16a860.b86058","order":7,"disp":true,"width":"6","collapse":false},{"id":"5aec6f5e.34b97","type":"ui_group","z":"","name":"Parametros Conta","tab":"7b16a860.b86058","order":2,"disp":true,"width":"6","collapse":false},{"id":"96636b98.fa0108","type":"ui_group","z":"","name":"Valores Consumo Previsto ","tab":"7b16a860.b86058","order":5,"disp":true,"width":"6","collapse":false},{"id":"96da1b7a.6ea8a8","type":"ui_group","z":"","name":"Valores Consumo Realizado","tab":"7b16a860.b86058","order":4,"disp":true,"width":"6","collapse":false},{"id":"96cc750c.91a0c8","type":"ui_group","z":"","name":"Informação do Sistema","tab":"44cf1d79.3ea374","order":4,"disp":true,"width":"6","collapse":false},{"id":"aa2fd4fa.cbb568","type":"ui_group","z":"","d":true,"name":"Memória","tab":"44cf1d79.3ea374","order":5,"disp":true,"width":"6","collapse":false},{"id":"28530e9e.fa9622","type":"ui_group","z":"","name":"Clima e Localização","tab":"44cf1d79.3ea374","order":3,"disp":true,"width":"6","collapse":false},{"id":"1433caf5.8d6615","type":"ui_group","z":"","name":"Limites de Consumo (KWh)","tab":"44cf1d79.3ea374","order":1,"disp":true,"width":"6","collapse":false},{"id":"36ddb2a0.b53b2e","type":"ui_group","z":"","name":"Notificação do Consumo","tab":"44cf1d79.3ea374","order":2,"disp":true,"width":"6","collapse":false},{"id":"c28a75e0.a2e7c8","type":"ui_group","z":"","d":true,"name":"CPU","tab":"44cf1d79.3ea374","disp":true,"width":"6","collapse":false},{"id":"40129da0.ec6ee4","type":"ui_group","z":"","name":"Estimativa do Consumo","tab":"7b16a860.b86058","order":3,"disp":true,"width":"6","collapse":false},{"id":"71590887.8eedb8","type":"ui_tab","z":"","name":"Consumo","icon":"trending_up","order":4,"disabled":false,"hidden":false},{"id":"9a9bd808.12da08","type":"ui_tab","z":"","name":"Cálculo Manual","icon":"assignment","order":2,"disabled":false,"hidden":false},{"id":"7b16a860.b86058","type":"ui_tab","z":"","name":"Previsão","icon":"visibility","order":1,"disabled":false,"hidden":false},{"id":"44cf1d79.3ea374","type":"ui_tab","z":"","name":"Configuração","icon":"build","order":5,"disabled":false,"hidden":false}]